<div id="header-placeholder">
    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <a href="{{enSelfHref}}" class="nav-logo-link">
                    <img src="{{root}}pages/images/logo.svg" alt="Sugallat Ltd. Logo" class="logo">
                    <h2>Sugallat Ltd.</h2>
                </a>
            </div>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="{{enSelfHref}}" class="nav-link" data-nav="home">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{root}}tevekenysegeink/" class="nav-link" data-nav="services">Services</a>
                </li>
                <li class="nav-item">
                    <a href="{{root}}arak.html" class="nav-link" data-nav="pricing">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="{{enContactHref}}" class="nav-link" data-nav="more">More</a>
                    <div class="dropdown-menu">
                        <a href="{{enContactHref}}" class="dropdown-link">Contact</a>
                        <a href="{{root}}referenciak.html" class="dropdown-link">Clients</a>
                        <a href="{{root}}bemutatkozas.html" class="dropdown-link">About</a>
                        <a href="{{enBlogHref}}" class="dropdown-link">Blog</a>
                        <a href="{{enSitemapHref}}" class="dropdown-link">Sitemap</a>
                    </div>
                </li>
            </ul>
            <div class="language-switcher">
                <a href="{{huHref}}" class="lang-link" data-lang="hu">Magyar</a>
                <span class="lang-separator">|</span>
                <a href="{{enHref}}" class="lang-link active" data-lang="en">English</a>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
</div>


